html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: url("../img/bg2.jpg") no-repeat;
  background-size: cover; }
  #mainContent div,
  #mainContent img,
  #mainContent svg {
    position: absolute; }

#imgDiv {
  left: -1px;
  top: -1px; }

#bg {
  left: 0px;
  top: 0px; }

.cssGredient {
  fill: linear-gradient(90deg, red, yellow); }
