//  Colours
$white: #fff;
$yellow: #FFD600;
$backgroundColor: #ffffff;

//  Banner size
$width: 300px;
$height: 250px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
     box-sizing: border-box;
}
