@import '_settings';
@import '_config';
@import '_mixins';
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: url('../img/bg2.jpg') no-repeat;

    background-size: cover;
    div,
    img,
    svg {
        position: absolute;
    }
}

#imgDiv{
    left:-1px;
    top:-1px;
}
#bg {
    left: 0px;
    top: 0px;
}

.cssGredient {
    fill: linear-gradient(90deg, red, yellow);
}

// <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-473.8289" y1="68.5" x2="-75.4018" y2="68.5" gradientTransform="matrix(1 0 0 1 476 0)">
//                         <stop  offset="0" style="stop-color:#000000"/>
//                         <stop  offset="4.657789e-02" style="stop-color:#474747"/>
//                         <stop  offset="0.1702" style="stop-color:#FFFFFF"/>
//                     </linearGradient>